/JDBC/target/
/AGPractices/src/Employee03-01Prac/nbproject/private/
/AGPractices/Employee03-01Prac/nbproject/private/
/AGPractices/practice1/Employee/target/
/AGPractices/Employee03-01Prac/build/
/AGPractices/Employee04-01Prac/nbproject/private/
/AGPractices/Employee04-02Prac/nbproject/private/
/AGPractices/Singleton04-03Prac/nbproject/private/
/AGPractices/Chapter1/practice1/Employee/target/
/AGPractices/Chapter2/practice1/Employee/target/
/AGPractices/Chapter3/Employee03-01Prac/build/
/AGPractices/Chapter3/Employee03-01Prac/nbproject/private/
/AGPractices/Chapter4/Employee04-01Prac/nbproject/private/
/AGPractices/Chapter4/Employee04-02Prac/nbproject/private/
/AGPractices/Chapter4/Singleton04-03Prac/nbproject/private/
/AGPractices/Chapter5/practice1/AbstractBanking05-01Prac/nbproject/private/
/AGPractices/Chapter5/practice2/EmployeeInner05-02Prac/EmployeeInner/nbproject/private/
/AGPractices/Chapter5/practice2/EmployeeInner05-02Prac/nbproject/private/
/AGPractices/Chapter5/practice3/EnumBanking05-03Prac/nbproject/private/
/AGPractices/Chapter6/practice1/Pet06-01Prac/nbproject/private/
/AGPractices/Chapter6/practice2/InterfaceBanking06-02Prac/nbproject/private/
/AGPractices/Chapter6/practice3/LambdaBasics06-03Prac/nbproject/private/
/AGPractices/Chapter7/practice1/GenericsHashMap07-01Prac/nbproject/private/
/AGPractices/Chapter7/practice2/Stack07-02Prac/nbproject/private/
/AGPractices/Chapter8/practice1/EmployeeSearch08-01Prac/nbproject/private/
/AGPractices/Chapter8/practice2/EmployeeSearch08-02Prac/nbproject/private/
/AGPractices/Chapter8/practice3/EmployeeSearch08-03Prac/nbproject/private/
/AGPractices/Chapter8/practice4/EmployeeSearch08-04Prac/nbproject/private/
/AGPractices/Chapter9/practice1/EmployeeSearch09-01Prac/nbproject/private/
/AGPractices/Chapter9/practice2/EmployeeSearch09-02Prac/nbproject/private/
/AGPractices/Chapter9/practice3/EmployeeSearch09-03Prac/nbproject/private/
/AGPractices/Chapter9/practice4/EmployeeSearch09-04Prac/nbproject/private/
/AGPractices/Chapter4/Employee04-01Prac/build/
/AGPractices/Chapter4/Employee04-02Prac/build/
/AGPractices/Chapter4/Singleton04-03Prac/build/
/AGPractices/Chapter5/practice1/AbstractBanking05-01Prac/build/
/AGPractices/Chapter5/practice2/EmployeeInner05-02Prac/build/